<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Lab2</title>

</head>
<body>
    <div class="container">
        <div class="main">

            <h1 class="text">Danh Sách Các Môn Học</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên Môn Học</th>
                        <th>Loại lôn học</th>
                        <th>Học Kỳ</th>
                        <th>Khoa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <th>Cơ sở dữ liệu</th>
                        <th>Cơ sở</th>
                        <th>HK1-2020-2021</th>
                        <th>K.CNTT</th>
                    </tr>
                    <tr>
                        <th>2</th>
                        <th>Cấu trúc dữ liệu</th>
                        <th>Cơ sở</th>
                        <th>HK1-2020-2021</th>
                        <th>K.CNTT</th>
                    </tr>
                    <tr>
                        <th>3</th>
                        <th>Công nghệ phần mềm</th>
                        <th>Cơ sở ngành</th>
                        <th>HK1-2020-2021</th>
                        <th>K.CNTT</th>
                    </tr>
                    <tr>
                        <th>4</th>
                        <th>Công nghệ mới</th>
                        <th>Chuyên ngành</th>
                        <th>HK1-2020-2021</th>
                        <th>K.CNTT</th>
                    </tr>
                    <tr>
                        <th>5</th>
                        <th>Đồ án môn học</th>
                        <th>Chuyên ngành</th>
                        <th>HK1-2020-2021</th>
                        <th>K.CNTT</th>
                    </tr>
                </tbody>
        </div>
           
            
    </div>
</body>
</html>